name: Build
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go env
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies & build
      working-directory: ./dispatcher
      run: go build -mod=readonly -v

    - name: Test
      working-directory: ./dispatcher
      run: go test -v -covermode=count -coverprofile=profile.cov

    - name: Send test results to coveralls
      working-directory: ./dispatcher
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        go install github.com/mattn/goveralls@latest
        $(go env GOPATH)/bin/goveralls -coverprofile=profile.cov -service=github
